.img-altura{
	height: 240px
}
.img-ajuste{
	width:100%;
	height: 120px;
}
.margen-index{
	margin-top:50px;
	margin-bottom: 200px;
}
.container-footer{
	position:fixed;
	bottom:0;
	width:100%;
}
h3{
	text-align:center;
}

.text-tam{
	
	font-size:200px;
}
.text-margin{
	margin-top:50px;
	margin-left:170px;
}