<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Alta Usuario</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<div class="container col-4 margen-index">
			<br>
			<p class="h4">Alta de Votante</p>
			<br>
	
			<form th:action="@{/usuario/guardar}" method="POST" th:object="${usuario}">
			
				
				<div class="mb-3">
					<label for="nombresId" class="form-label">Nombres</label> 
					<input  th:field="*{nombre}" type="text" class="form-control" id="nombresId" placeholder="Ingrese nombres">
					<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>
				
				<div class="mb-3">
					<label for="emailId" class="form-label">E-mail</label> 
					<input th:field="*{email}" type="email" class="form-control" id="emailId" placeholder="Ingrese e-mail">
					<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>
				<div class="mb-3">
					<label for="fechaId" class="form-label">Fecha de Nacimiento</label> 
					<input th:field="*{fechanacim}" type="date" class="form-control" id="fechaId" placeholder="Ingrese fecha de nac">
					
				</div>
					<input type="hidden" th:field="*{telefono}" th:value="12345678" >
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Enviar</button>
					 <a th:href="@{/pagina/inicio}" id="cancel" class="btn btn-secondary">Cancelar</a>		
				</div>
			</form>
		</div>
		<br><br>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	
	
	</body>
</html>